.cv-container {
  display: grid;
  grid-template-column: 1fr 1fr 1fr;
  grid-template-row: 1fr 1fr 1fr;
  // flex-direction: row;
}

h2 {
  font-size: 2.5rem;
}

h5 {
  margin-top: 10px;
}

.education {
padding: 10px;
grid-column-start: 1;
grid-column-end: 2;
// border: 1px solid black;
margin-right: 20px;
}

// .title {
//   margin-bottom: 20px;
// }

.publications {
padding: 10px;
display: flex;
flex-direction: column;
grid-column-start: 3;
grid-column-end: 3;
// border: 1px solid black;
 p {text-decoration: underline;}
}

.publications a {
  text-decoration: none;
  color: #333333;
  &:hover {
    color: #F24333;
  }
}

.experience {
padding: 10px;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
// border: 1px solid black;
}

.home-btn {
  padding: 20px;
  position: relative;
  top: 158px;
  left: 111px;
  margin: 10px;
  color: #333333;
}

.btn {
  border-bottom: 1px solid black;
  height: fit-content;
  width: fit-content;
  padding: 5px 0;
  margin: 5px;
  // margin-left: 80px;
  // justify-content: flex-end;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  border-bottom: 1px solid #F24333;
}

.home-btn:hover {
    color: #F24333;
    border: 1px dotted #F24333;
}

.card-body {
  font-size: 12px;
}

.card {
  max-width: 400px;
  border: none;
}
