.cv-container {
  display: flex;
  // flex-direction: row;
}

.education {
padding: 10px;
// border: 1px solid black;
margin-right: 20px;
}

.title {
  margin-bottom: 20px;
}

.publications {
padding: 10px;
// border: 1px solid black;
}

.publications a {
  text-decoration: none;
  color: #333333;
  &:hover {
    color: #F24333;
  }
}

.experience {
padding: 10px;
// border: 1px solid black;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.btn {
  border: 1px solid black;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  // margin-top: 60px;
  // margin-left: 80px;
  justify-content: flex-end;
}

.btn:hover {
    color: #F24333;
    border: 1px dotted #F24333;
}
