// Specific CSS for your home-page
body {
background-color: #FAF5EF;
margin: 0;
}

h1 {
  font-size: 120px;
  text-align: center;
  letter-spacing: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  max-width: 100%;
  // background-color: white;
}

.nav {
  padding-bottom: 5vh;
}

.first-half {
  margin: 20px;
}

.info {
  margin-left: 200px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info a i {
  color:#F24333;
  font-size: 80px;
  transition: box-shadow 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  &:hover {
    color:#333333;
  }
}

.second-half {
  display: flex;
  margin-bottom: 80px;
}

.image {
  margin-left: 25px;
}

.fa-github-square {
  animation: bobbingAnim ease-in-out 2s infinite;
}


@keyframes bobbingAnim {
   0% {
       transform: scale(0.999, 0.999) translate3d(0px, 0px, 1px);
       animation-timing-function:ease-in-out
   }

   50% {
       transform: scale(0.999, 0.999) translate3d(0px, 12px, 1px);
       animation-timing-function:ease-in-out
   }

   100% {
       transform: scale(0.999, 0.999) translate3d(0px, 0px, 1px);
       animation-timing-function:ease-in-out
   }
}

