.projects {
// border: 1px solid black;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
p {
  width: 800px;
  text-align: center;
}
}

// .projects a:hover{
//   opacity: ;
// }

.book {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.feast {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: #333333;
}

.video {
  margin-left: 50px;
}

.home-btn-work {
  padding: 20px;
  margin: 10px;
  color: #333333;
}

.home-btn-work:hover {
    color: #F24333;
    border: 1px dotted #F24333;
    width: fit-content;
}

// @media (max-width: 990px) {
//   /* For a screen < 960px, this CSS will be read */
// }

// @media (max-width: 800px) {
//    For a screen < 720px, this CSS will be read
// }

@media (max-width: 600px) {
  /* For a screen < 540px, this CSS will be read */
 .projects {
  h1 {
    font-size: 80px;
  }
}

.projects {
  p {
    width: 400px;
  }
}

.feast {
  flex-direction: column;
  align-items: center;
}

.website-pic {
  margin-bottom: 15px;
}
}
