<div class="cv-container">
  <div class="education">
    <div class="title">
      <h2>Education</h2>
    </div>
    <h5>Full Stack Development</h5><h5>2020</h5>
    <p>Le Wagon - Amsterdam<br>(Amsterdam, NL)<br></p>
    <h5>Masters of Museology</h5><h5>2019</h5>
    <p>Amsterdam Hogeschool voor Kunsten<br>Reinwardt Academie<br>(Amsterdam, NL)<br>GPA 8.3</p>
    <h5>Bachelors of Art History</h5><h5>2016</h5>
    <p>Florida International University<br>Summa Cum Laude<br>(Miami, FL)<br>GPA 3.94</p>
  </div>
  <div class="experience">
    <div class="title">
      <h2>Experience</h2>
    </div>
    <div class="de-appel">
      <div class="appel-text">
        <h5>De Appel Art Centre</h5><p>Amsterdam, NL 2019</p>
          <a class="btn" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">Curatorial Programme Internship</a>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
              ✢ Launched a Podcast for De Appel’s 25 Year anniversary.<br>
              ✢ Organized contact database, researched previous participants and initiated contact with over 150 previous alumni via email, telephone call and in-person meetings.<br>
              ✢ Interviewed over 50 alumni via email, questionnaire and personal meeting.<br>
              ✢ Produced sound booth with my team via coordination of technical equipment, suppliers, vendors, and workers.<br>
              ✢ Assisted during all De Appel events using ad hoc skills and ‘let’s do it!’ mentality.<br>
            </div>
          </div>
      </div>
      <div class="appel-link">
        <a href="http://deappel.nl/en/events/curious-voices" target="_blank"><%= image_tag "curious voices.jpg", width: "75", class:"curvoice" %></a>
      </div>
    </div>
    <div class="rcmc">
      <div class="rcmc-text">
        <h5>Research Center for Material Culture</h5><p>Leiden, NL 2018/19</p>
        <div class="two-buttons">
          <a class="btn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">Research Internship</a>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                  ✢ Contributed to research regarding the implementation of Contemporary Art in the Ethnographic Museum, under Prof. Dr. Wayne Modest.<br>
                  ✢ Investigated the commission of contemporary art during the re-design of the Volkenkunde Museum in the year 2000 and its relation to decolonizing practice, cultural ministry quotas, and museum ethics.<br>
                  ✢ Organized and conducted interviews with staff members, ex-employees, and artists involved in the commission.<br>
                  ✢ Produced digital dossier of research objects and inputted the results into the collection database, The Museum System.<br>
                  <div class="rcmc-vc"><i class="fas fa-arrow-right"></i>
                    <ul class="rcmc-list">
                      <li class="rcmc-vc-i"><a href="https://www.facebook.com/rcmaterialculture/posts/504007417006217" target="_blank"><div class="artist">Moniek Toebosch</div></a></li>
                      <li class="rcmc-vc-i"><a href="https://www.facebook.com/rcmaterialculture/posts/515339262539699" target="_blank"><div class="artist">Roy Villevoye</div></a></li>
                      <li class="rcmc-vc-i"><a href="https://www.facebook.com/rcmaterialculture/posts/503900463683579" target="_blank"><div class="artist">Andries Botha</div></a></li>
                      <li class="rcmc-vc-i"><a href="https://www.facebook.com/rcmaterialculture/posts/503924517014507" target="_blank"><div class="artist">Cildo Meireles</div></a></li>
                      <li class="rcmc-vc-i"><a href="https://www.facebook.com/rcmaterialculture/posts/469356003804692" target="_blank"><div class="artist">Remy Jungerman</div></a></li>
                      <li class="rcmc-vc-i"><a href="https://www.facebook.com/rcmaterialculture/posts/515327535874205" target="_blank"><div class="artist">Ken Lum</div></a></li>
                      <li class="rcmc-vc-i"><a href="https://www.facebook.com/rcmaterialculture/posts/503976700342622" target="_blank"><div class="artist">Chen Zhen</div></a></li>
                      <li class="rcmc-vc-i"><a href="https://www.facebook.com/rcmaterialculture/posts/503983667008592" target="_blank"><div class="artist">Jens Haaning</div></a></li>
                    </ul>
                  </div>
                </div>
            </div>
      </div>
    </div>
    <h5>Phillip & Patricia Frost Museum of Art</h5><p>Miami, FL</p>
    <a class="btn" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">Visitor’s Service Associate 2015</a>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              ✢ Upheld an informed and working knowledge of the museum’s services (including facility rentals, tours, memberships, and events).<br>
              ✢ Oversaw the compilation of visitor data and surveys, prepared and analyzed reports.<br>
              ✢ Maintained communication between departments via phone call, email, and memos.<br>
              ✢ Processes deposits, invoices, donations, and payments.<br>
              ✢ Worked with education department to maintain the group tour and reservation process, including maintaining and updating contact lists, initiating and responding to communications.<br>
              ✢ Coordinated facility rentals for the Museum, including scheduling rentals, meeting with potential clients to show spaces, working with contracted vendors, overseeing the events and following up with clients.<br>
            </div>
          </div>
    <a class="btn" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">Education Assistant 2017</a>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body">
              ✢ Created educational programming and assisted with implementat ion of the MakersSpace, a hands-on community space for workshops and educational programs.<br>
              ✢ Conducted tours of the Museum for schools and community groups.<br>
              ✢ Managed scheduling and creation of educational programming for the museum’s Summer public programming schedule.<br>
            </div>
          </div>
    <a class="btn" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">Curatorial Internship 2015</a>
          <div class="collapse" id="collapseExample5">
            <div class="card card-body">
              ✢ Worked directly with the artists during installation and deinstallation, as well as condition reporting.<br>
              ✢ Engaged in historical, as well as Contemporary, market research regarding upcoming exhibitions.<br>
            </div>
          </div>
    <a class="btn" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">Collections Department Internship 2014</a>
          <div class="collapse" id="collapseExample6">
            <div class="card card-body">
              ✢ Assisted in cataloging, archiving, and organizing records of museum objects as well as curatorial research and conservation elements.<br>
              ✢ Learned and developed skills in museum archiving software and data entry.<br>
            </div>
          </div>
    <h5>Miami Children's Museum</h5><p>Miami Beach, FL 2016/17</p>
    <a class="btn" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">Artist in Residence</a>
          <div class="collapse" id="collapseExample7">
            <div class="card card-body">
              ✢ Developed art activities which engaged early childhood developmental skills and expression, including unique programs for children with special needs and children in underserved schools.<br>
              ✢ Supervised and directed interns and volunteers within the art studio.<br>
              ✢ Acted as educator and liason to the visitor, fostering an intimate learning experience.<br>
            </div>
          </div>
    <h5>Museum of Contemporary Art MOCA</h5><p>North Miami, FL 2013/14</p>
    <a class="btn" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">Docent</a>
          <div class="collapse" id="collapseExample8">
            <div class="card card-body">
              ✢ Guided tours/provided information at Tracey Emin ‘Angel Without You’ exhibition, Art Basel 2013.<br>
              ✢ Guided tours to Virginia Overton and Wangechi Mutu exhibit, featured Spring and Summer 2014.<br>
              ✢ Reorganized and archived MOCA private library and Art Book collections.<br>
            </div>
          </div>
<!--     <h5>Volunteering</h5>
    <a class="btn" data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">...</a>
          <div class="collapse" id="collapseExample9">
            <div class="card card-body">
              ✢ UF’s Radio Reading Service (Gainesville, FL)<br>
              ✢ MOCA (Miami, FL)<br>
              ✢ Miami Children’s Museum<br>
              ✢ Locust Projects (Miami, FL)<br>
              ✢ Miami Zine Fair<br>
              ✢ Fat Village Zine Fair (Ft. Lauderdale, FL)<br>
              ✢ Florida International University Library: archival work, transcription, and data base entry.
            </div>
          </div> -->
  </div>
</div>
  <div class="publications">
    <div class="title">
      <h2>Publications</h2>
    </div>
    <h5>Inspicio Magazine</h5>
    <a href="http://inspicio.fiu.edu/reviews/lets-make-the-water-turn-black-2011-2014-a-sculpture-play-by-geoffrey-farmer-at-pamm/" target="_blank"><p>Geoffrey Farmer:<br>Let’s Make the Water Turn Black<br>2015</p></a>
    <a href="http://inspicio.fiu.edu/uncategorized/haitian-gingerbread/" target="_blank"><p>Haitian Gingerbread<br>2015</p></a>
    <h5>Fresh Art International</h5>
    <a href="https://freshartinternational.com/2015/11/28/news-miami-art-week-2015-tipsheet/" target="_blank"><p>Miami Art Week 2015 Tip sheet<br>2015</p></a>
    <h5>on air - AHK</h5>
    <a href="https://issuu.com/artist-in-residence-ahk/docs/wandelkrant___insert_samengebonden/30" target="_blank"><p>The Walking Seminar by Christen Ernsten<br>“The Anthropocene”<br>2018</p></a>
      <div>
        <%= link_to "Home", root_path, class:"home-btn" %>
      </div>
  </div>
</div>

