<div class="cv-container">
  <div class="education">
    <div class="title">
      <h2>Education</h2>
    </div>
    <h5>Full Stack Development</h5><h5>2020</h5>
    <p>Le Wagon - Amsterdam<br>(Amsterdam, NL)<br>
    <h5>Masters of Museology</h5><h5>2019</h5>
    <p>Amsterdam Hogeschool voor Kunsten<br>Reinwardt Academie<br>(Amsterdam, NL)<br>GPA 8.3</p>
    <h5>Bachelors of Art History</h5><h5>2016</h5>
    <p>Florida International University<br>Summa Cum Laude<br>(Miami, FL)<br>GPA 3.94</p>
  </div>
  <div class="publications">
    <div class="title">
      <h2>Publications</h2>
    </div>
    <h5>Inspicio Magazine</h5>
    <a href="http://inspicio.fiu.edu/reviews/lets-make-the-water-turn-black-2011-2014-a-sculpture-play-by-geoffrey-farmer-at-pamm/"><p>Geoffrey Farmer:<br>Let’s Make the Water Turn Black<br>2015</p></a>
    <a href="http://inspicio.fiu.edu/uncategorized/haitian-gingerbread/"><p>Haitian Gingerbread<br>2015</p></a>
    <h5>Fresh Art International</h5>
    <a href="https://freshartinternational.com/2015/11/28/news-miami-art-week-2015-tipsheet/"><p>Miami Art Week 2015 Tip sheet<br>2015</p></a>
    <h5>on air - AHK</h5>
    <a href="https://issuu.com/artist-in-residence-ahk/docs/wandelkrant___insert_samengebonden/30"><p>The Walking Seminar by Christen Ernsten<br>“The Anthropocene”<br>2018</p></a>
  </div>
  <div class="experience">
    <div class="title">
      <h2>Experience</h2>
    </div>
    <h5>De Appel Art Centre</h5><p>Amsterdam, NL 2019</p>
    <p>Curatorial Programme Internship</p>
    <h5>Research Center for Material Culture</h5><p>Leiden, NL 2018/19</p>
    <p>Research Internship</p>
    <h5>Phillip & Patricia Frost Museum of Art</h5><p>Miami, FL 2015</p>
    <p>Visitor’s Service Associate</p>
    <p>Education Assistant</p>
    <p>Curatorial Internship</p>
    <p>Collections Department Internship</p>
    <h5>Miami Children's Museum</h5><p>Miami Beach, FL 2016/17</p>
    <p>Artist in Residence</p>
    <h5>Museum of Contemporary Art MOCA</h5><p>North Miami, FL 2013/14</p>
    <p>Docent</p>
    <h5>Volunteering</h5>
  </div>
  <%= link_to "Home", root_path, class:"btn" %>
</div>
