  <div class="projects">
      <h1>Moveable Feasts</h1>
      <div class="feast">
        <div>
          <a href="https://www.moveablefeasts.club/"><%= image_tag("move.png", height: '319', width: '400') %></a>
        </div>
        <div class="video">
          <iframe width="350" height="315" src="https://www.youtube.com/embed/4-navhgKXSU?start=1950" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="book">
        <h1>Book Borrow</h1>
      <a href="http://bookbookborrow.herokuapp.com/"><%= image_tag("book.png", height: '350', width: '450') %></a>
      </div>
      <%= link_to "Home", root_path, class:"home-btn-work" %>
  </div>


