  <div class="projects">
      <%= link_to "Home", root_path, class:"home-btn-work" %>
      <a href="http://bookbookborrow.herokuapp.com/">
        <div class="book">
          <p class="book-title">Book<p><p class="borrow-title">Borrow</p>
        </div>
      </a>
      <a href="https://www.moveablefeasts.club/">
        <div class="feast">
          <p class="first">M</p><p>oveable</p><p class="first">F</p><p>easts</p>
        </div>
      </a>
  </div>


