.contact-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mail {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  color: #333333;
}

.fa-envelope {
  font-size: 40px;
}

.fa-linkedin-in {
  font-size: 40px;
}

a.mail {
  text-decoration: none;
}

.mail:hover {
  color:#F24333;
}

.contact-btn {
  margin-top: 100px;
}

// @media (max-width: 990px) {
//   /* For a screen < 960px, this CSS will be read */
// }

// @media (max-width: 800px) {
//    For a screen < 720px, this CSS will be read
// }

@media (max-width: 600px) {
  /* For a screen < 540px, this CSS will be read */
  .contact-div {
    h1 {
      font-size: 60px;
    }
  }
}
